@import url(../../styles/stylesguide.css);

.menu {
  position: absolute;
  width: 60vw;
  right: 2rem;
  top: 6.5rem;
}

.menu div {
  position: inherit;
  right: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.menu a {
  color: var(--color-primary-0);
  margin: 0.7rem 1rem;
  cursor: pointer;
}

.menu a:hover {
  text-decoration: underline var(--color-secondary-500) 4px;
}

@media (max-width: 430px) {

  .menu {
    top: 6rem;
    left: 0;
    right: none;
    width: 100%;
  }
  
  .menu a {
    margin: 1rem 1rem;
  }

}

@media (max-width: 375px) {
  .menu {
    top: 5rem;
  }
  
  .menu a {
    margin: 1rem 1rem;
  }
}

@media (max-width: 320px) {
  .menu {
    top: 5rem;
  }
  
  .menu a {
    margin: 1rem 0.5rem;
  }
}