@import url(../../styles/stylesguide.css);

.suppliers__card {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  width: 20rem;
  height: 15rem;
  justify-content: center;
  background-color: var(--color-primary-600);
  border-radius: var(--radio-card);
  transition: all 0.3s ease-in-out;
}

.suppliers__card:hover {
  transform: scale(1.05);
  background-color: var(--color-primary-700);
  transition: all 0.3s ease-in-out;
}

.card__text {
  font-size: 1.3rem;
  font-weight: var(--font-weight-h4);
  text-align: center;
}

.card__link {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  color: var(--color-secondary-300);
  transition: all 0.6s ease-in-out;
}

.card__link img {
  height: 1.5rem;
  width: auto;
  margin: 0 0.5rem 0 0;
}
