@import url(../../styles/stylesguide.css);

.category {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  cursor: pointer;
}

.category h5 {
  margin: 0.3rem  auto;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

.category img {
  height: 5rem;
  aspect-ratio: 16 / 6;
  filter: grayscale(1);
  border-radius: var(--radio-primary-button);
  box-shadow: var(--button-shadow);
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}

.category:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
  transition: all 0.6s ease-in-out;
}

.category:hover h5 {
  margin: 0.5rem  auto;
  border-bottom: 2px solid var(--color-secondary-400);
  transition: all 0.6s ease-in-out;
}
