@import url(../../styles/stylesguide.css);

.category {
  cursor: pointer;
  overflow: hidden;
  margin: 1rem;;
}

.category h5 {
  margin: 0.3rem  auto;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.category img {
  aspect-ratio: 16 / 6;
  width: 100%;
  filter: grayscale(1);
  border-radius: var(--radio-primary-button);
  box-shadow: var(--button-shadow);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.category:hover img {
  filter: grayscale(0);
  transition: all 0.3s ease-in-out;
}

.category:hover h5 {
  margin: 0.5rem  auto;
  border-bottom: 2px solid var(--color-secondary-400);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {

  .category h5 {
    font-size: 0.9rem;
  }

}

@media (max-width: 430px) {
  
  .category {
    margin: 0.3rem;;
  }

  .category h5 {
    font-size: 0.8rem;
  }
  
  .category img {
    aspect-ratio: 9 / 6;
  }
  
}