@import url(../../styles/stylesguide.css);

.slider {
  display: flex;
  width: 100%;
  aspect-ratio: 16 / 6;
  overflow: hidden;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  width: auto;
  align-items: center;
}

.card__img {
  width: 70vw;
  aspect-ratio: 16 / 9;
  position: relative;
}

.image__box img {

  height: fit-content;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  transition: 0.5s ease-in-out;
}

.card__img:hover img {
  filter:
    grayscale(1)
    brightness(0.4);
}

.card__img:hover .arrows {
  filter: 
  brightness(20);
  transform: scale(1.5);
}

.arrows {
  transform: scale(1.2);
  margin: auto;
  transition: all 0.5s;
}

.arrows__left {
  position: absolute;
  right: 3rem;
  top: 50%;
}

.arrows__right {
  position: absolute;
  left: 3rem;
  top: 50%;
}

.card__principal {
  background-size: cover;
  display: grid;
  position: relative;
  overflow: hidden;
}

.card__box {
  position: absolute;
  top: 30%;
  right: 0;
  opacity: 0;
  width: 50%;
  height: 40%;
  padding: 3rem;
  cursor: pointer;
  background-color:#b921ff2d;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease-in-out;
}

.card__box h4 {
  color: white;
}

.card__box a {
  color: var(--color-primary-100);
  text-decoration: underline;
}

.card__img:hover .card__box {
  opacity: 1;
  transform: translate(0, 0);
}

.card__principal .image__box {
  object-fit: cover;
  transition: all 0.6s ease-in-out
}

.card__principal:hover .image__box {
  scale: 1.1;
}

@media (max-width: 768px) {

  .slider {
    aspect-ratio: 4 / 3;
  }
  
  .card__img {
    aspect-ratio: 4 / 3;
  }
  
  .image__box img {
    height: 100%;
    width: auto;
    aspect-ratio: 4 / 3;
  }
  
  .arrows {
    transform: scale(0.8);
  }

  .card__img:hover .arrows { 
    transform: scale(1.1);
  }
  
  .arrows__left {
    right: 1rem;
  }
  
  .arrows__right {
    left: 1rem;
  }
  
  .card__box h4 {
    font-size: 1.2rem;
  }

  .card__box p {
    font-size: 0.9rem;;
  }
  
  .card__box a {
    font-size: 0.8rem;
  }

}

@media (max-width: 430px) {

  .slider {
    aspect-ratio: 1.3 / 2;
  }
  
  .card__img {
    aspect-ratio: 1.3 / 2;
  }
  
  .card__box {
    top: 30%;
    width: 70%;
    height: 40%;
    padding: 2rem;
  }

  .image__box img {
    aspect-ratio: 1.3 / 2;
    height: 100%;
    width: auto;
  }
  
  .arrows {
    transform: scale(0.5);
  }

  .card__img:hover .arrows { 
    transform: scale(0.7);
  }
  
  .arrows__left {
    right: 0rem;
    right: 0rem;
  }
  
  .arrows__right {
    left: 0rem;
    left: 0rem;
  }
  
  .card__box h4 {
    font-size: 1rem;
  }

  .card__box p {
    font-size: 0.7rem;;
  }
  
  .card__box a {
    font-size: 0.7rem;
  }

}

@media (max-width: 320px) {
  
  .arrows {
    transform: scale(0.5);
  }

  .card__img:hover .arrows { 
    transform: scale(0.6);
  }
  
  .arrows__left {
    right: 0.2rem;
  }
  
  .arrows__right {
    left: 0.2rem;
  }
  
  .card__box h4 {
    font-size: 0.8rem;
  }

  .card__box p {
    font-size: 0.5rem;;
  }
  
  .card__box a {
    font-size: 0.5rem;
  }

}