@import url(../styles/stylesguide.css);

.categories {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 4rem auto;
  width: 90%;
  justify-content: center;
  align-items: flex-start;
}

.location_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
}
